* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    background: rgb(54, 121, 77);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    width: 100%;
    height: 100px;
    background: rgb(7, 78, 74);
    display: flex;
}
.logo{
    padding: 33px 0;
    max-width: 66px;
    margin-left: 15px;
}

#titular{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

h1{
    color:antiquewhite ;

}
h2{
    color: antiquewhite;
    text-align: center;
    padding: 15px;
}

h4{
    margin: 5px;
}

.principal{
   background-color:  rgb(26, 100, 67);
}

.cargo{
    background-color: rgb(117, 138, 131);
    color: black;
    text-align: center;
    padding: 15px;
}

#id{
    font-size: 2vw;
}


.jefatura{
    display: flex;
    width: 100%;
    background-color:rgb(118, 161, 144);;
}

.block{
    width: 50%;
    border: whitesmoke 2px;
}

ul {
    padding: 20px;
    list-style-type: square;
}

li{
    padding: 5px;
    margin: 5px;
    margin-left: 10px;
}

.container{
    width: 100%;
    background-color:rgb(134, 173, 157);
    display: flex;
    margin: auto;
}
table{
    border-collapse: collapse;
    width: 100%;
    margin: 0;
}

th{

    background-color: rgb(50, 145, 104);
    color: white;
    padding: 5px 0;
  }
td{
    text-align: center;
    padding: 10px 5px;
}

a:link, a:visited{
    text-decoration: none;
    color: whitesmoke;
}

.form-style-2{
    margin: 0 auto; 
	max-width: 75%;
	padding: 20px 12px 10px 20px;
	font: 13px Arial, Helvetica, sans-serif;
    background-color:  rgb(73, 139, 111);
    
}

.form-style-2 label{
	display: block;
	margin: 0px 0px 15px 0px;
}
.form-style-2 label > span{
	width: 100px;
	font-weight: bold;
	float: left;
	padding-top: 8px;
	padding-right: 5px;
}
.form-style-2 span.required{
	color:rgb(255, 50, 50);
}
.form-style-2 .tel-number-field{
	width: 40px;
	text-align: center;
}
.form-style-2 input.input-field, .form-style-2 .select-field{
	width: 48%;	
}
.form-style-2 input.input-field, 
.form-style-2 .tel-number-field, 
.form-style-2 .textarea-field, 
.form-style-2 .select-field{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #C2C2C2;
	box-shadow: 1px 1px 4px #EBEBEB;
	-moz-box-shadow: 1px 1px 4px #EBEBEB;
	-webkit-box-shadow: 1px 1px 4px #EBEBEB;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px;
	outline: none;
}
.form-style-2 .input-field:focus, 
.form-style-2 .tel-number-field:focus, 
.form-style-2 .textarea-field:focus,  
.form-style-2 .select-field:focus{
	border: 1px solid  rgb(10, 255, 145);
}
.form-style-2 .textarea-field{
	height:100px;
	width: 55%;
}
.form-style-2 input[type=submit],
.form-style-2 input[type=button]{
	border: none;
	padding: 8px 15px 8px 15px;
	background:  rgb(54, 104, 82);
	color: rgb (54,104,82);
	box-shadow: 1px 1px 4px #DADADA;
	-moz-box-shadow: 1px 1px 4px #DADADA;
	-webkit-box-shadow: 1px 1px 4px #DADADA;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.form-style-2 input[type=submit]:hover,
.form-style-2 input[type=button]:hover{
	background: #d3ea00;
	color: rgb(54, 104, 82);
}

footer{
    bottom:0;
    width:100%;
    height:150px; 
    background-color:  rgb(13, 78, 75);
    color: whitesmoke;
    text-align: center;
    padding: 20px;
}